.button {
  display: inline-block;
  background-color: #f25a70;
  padding: 10px 20px;
  box-shadow: 5px 5px 0 #000;
  margin-right: 0;
  transition: transform 200ms linear;
  color: white;
  font-size: 20px;
  text-decoration: none;
  
  font-family: "Fira Code", Ariel, Helvetica, serif;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 1px #000;
}
