.main-footer {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #000;
}

.main-footer .action {
  margin-right: 20px;
  margin-left: 20px;
}
